body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  .cv-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #3498db;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
  }
  
  .education-section table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  .education-section table,
  .education-section th,
  .education-section td {
    border: 1px solid #ddd;
  }
  
  .education-section th,
  .education-section td {
    padding: 12px;
    text-align: left;
  }
  
  .education-section th {
    background-color: #f2f2f2;
  }
  
  .skills-section ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .projects-section ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .section-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #3498db;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: coral;}